<!-- src/app/login/login.component.html -->
<div class="flex items-center justify-center min-h-screen bg-gray-800">
  <div class="bg-white p-8 rounded shadow-md w-96">
    <h2 class="text-2xl font-semibold mb-6">Login</h2>
    <form (ngSubmit)="onLogin()">
      <div class="mb-4">
        <label for="emailId" class="block text-sm font-medium text-gray-900">Email:</label>
        <input type="text" id="emailId" name="emailId" [(ngModel)]="loginObj.emailId" class="mt-1 p-2 w-full border rounded-md">
      </div>
      <div class="mb-4">
        <label for="password" class="block text-sm font-medium text-gray-900">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="loginObj.password" class="mt-1 p-2 w-full border rounded-md">
      </div>
      <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md">Login</button>
    </form>
    

    <div class="mt-4 text-center">
      <p class="text-gray-600">Don't have an account? <a routerLink ="signup" class="text-blue-500">Sign up</a></p>
      
    </div>
  </div>
</div>
